/* =======================================================================
Button Base
========================================================================== */
$button-radius: 27px;
$button-border-width: 2px;

%button-reset {
    cursor: pointer;
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;
    &:focus {
        outline: none;
    }
}

button {
    @extend %button-reset;
}


.Button {
    box-sizing: border-box;
    display: inline-block;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 3px;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    transition: all 200ms ease-in;
    text-align: center;
}
