label[for] {
    cursor: pointer;
}

%FormElement-control-base {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background: $white;
    padding: 5px 12px;
    border: 1px solid $grey;
    border-radius: 3px;
    transition: border 0.2s ease-in;
    color: $grey-dark;
    &:focus {
        outline: none;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
    @extend %FormElement-control-base;
}

textarea {

}

.FormElement {
    margin-bottom: 24px;
    &-label {
        display: block;
        margin-bottom: 4px;
    }
    &-content {
        position: relative;
    }
    &-control {
        @extend %FormElement-control-base;
        box-shadow: none;
        appearance: none;
    }
    &-control-icon {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }
}

select.FormElement-control {
    background: transparent;
    &::-ms-expand {
        display: none;
    }
}


.FileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.FileUpload + label {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FileUpload:focus + label,
.FileUpload + label:hover {
    //background-color: red;
}
