/* =======================================================================
Basic colors
========================================================================== */
$white: #ffffff;

$grey-light: #f2f2f2;
$grey: #cccccc;
$grey-dark: #666666;
$grey-darker: #333333;

$black: #05070a;
$black-true: #000000;

$blue-darker: #002945;
$blue-dark: #003c64;
$blue-light: #3c97d6;

$orange: #ff6a07;
$orange-dark: #ca4c05;

/* =======================================================================
Brand colors
========================================================================== */
$color-primary: $orange;
// $color-primary-highlight: $blue-light;
$color-primary-background: $orange-dark;

$color-secondary: $blue-dark;

/* =======================================================================
States colors
========================================================================== */
// $color-success: $green;
// $color-success-highlight: $green-light;
//
// $color-warning: $yellow;
// $color-warning-highlight: $yellow-light;
//
// $color-danger: $red;
// $color-danger-highlight: $red-light;

/* =======================================================================
Context colors
========================================================================== */
$color-selection: $color-primary;