/* =======================================================================
Easing functions
========================================================================== */
$timing-bezier-easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$timing-bezier-easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$timing-bezier-swiftOut: cubic-bezier(.55, 0, .1, 1);