/* =======================================================================
Font
========================================================================== */
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack-alt: Georgia, serif;
$font-size-base: 16px;

$font-color-base: $grey-dark;
$font-color-heading: $color-secondary;

$line-height-base: 1.6;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;