/* =======================================================================
Simple fade in utility
========================================================================== */
.fade {
    opacity: 0;
    transition: opacity 0.3s $timing-bezier-easeInOutCubic;
    &.fade-in {
        opacity: 1;
    }
}

/* =======================================================================
Page transition animation
========================================================================== */
.ui-view-container {
    position: relative;
    ui-view {
        position: absolute;
        left: 0;
        right: 0;
        transition: opacity 0.2s $timing-bezier-easeInOutCubic;
        transform: translateZ(0);
        will-change: transform, opacity;
        &.ng-enter {
            opacity: 0;
        }
        &.ng-enter-active {
            opacity: 1;
        }
        &.ng-leave {
            opacity: 1;
        }
        &.ng-leave-active {
            opacity: 0;
        }
    }
}
