.Icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.Icon--arrow-down-grey-dark-1 {
	background-image: url('images/i-arrow-down-grey-dark-1.png');
	width: 19px;
	height: 10px;
}
.Icon--arrow-down-white-3 {
	background-image: url('images/i-arrow-down-white-3.png');
	width: 25px;
	height: 14px;
}
.Icon--arrow-left-grey-dark-2 {
	background-image: url('images/i-arrow-left-grey-dark-2.png');
	width: 35px;
	height: 31px;
}
.Icon--arrow-right-grey-dark-2 {
	background-image: url('images/i-arrow-right-grey-dark-2.png');
	width: 35px;
	height: 31px;
}
.Icon--arrow-right-grey-dark-3 {
	background-image: url('images/i-arrow-right-grey-dark-3.png');
	width: 11px;
	height: 20px;
}
.Icon--close-white {
	background-image: url('images/i-close-white.png');
	width: 40px;
	height: 40px;
}
.Icon--close-white--small {
	background-image: url('images/i-close-white.png');
	width: (40px/2);
	height: (40px/2);
}
.Icon--fax-grey-dark {
	background-image: url('images/i-fax-grey-dark.png');
	width: (37px/1.2);
	height: (30px/1.2);
}
.Icon--fb-white {
	background-image: url('images/i-fb-white.png');
	width: 11px;
	height: 20px;
}
.Icon--gp-white {
	background-image: url('images/i-gp-white.png');
	width: 25px;
	height: 16px;
}
.Icon--menu-white {
	background-image: url('images/i-menu-white.png');
	width: 46px;
	height: 34px;
}
.Icon--phone-grey-dark {
	background-image: url('images/i-phone-grey-dark.png');
	width: (31px/1.2);
	height: (30px/1.2);
}
.Icon--twitter-white {
	background-image: url('images/i-twitter-white.png');
	width: 25px;
	height: 20px;
}
.Icon--youtube-white {
	background-image: url('images/i-youtube-white.png');
	width: 29px;
	height: 20px;
}