.blurry {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: block;
    width: 25%;
    height: 0;
    padding-top: 25%;
    margin-bottom: 20px;
    .base {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: {
            size: cover;
            repeat: no-repeat;
        };
    }
    .hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: {
            size: cover;
            repeat: no-repeat;
        };
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
        transition: opacity 250ms ease-in;
    }
    &.is-active,
    &:hover {
        .hover {
            opacity: 1;
        }
    }
}
