.u-mb-1 {
    margin-bottom: 12px;
}
.u-mb-2 {
    margin-bottom: 24px;
}
.u-mb-3 {
    margin-bottom: 36px;
}
.u-mb-4 {
    margin-bottom: 48px;
}

.u-mt-1 {
    margin-top: 12px;
}
.u-mt-2 {
    margin-top: 24px;
}
.u-mt-3 {
    margin-top: 36px;
}
.u-mt-4 {
    margin-top: 48px;
}

.u-mr-1 {
    margin-right: 12px;
}
.u-mr-2 {
    margin-right: 24px;
}
.u-mr-3 {
    margin-right: 36px;
}
.u-mr-4 {
    margin-right: 48px;
}

.u-ml-1 {
    margin-left: 12px;
}
.u-ml-2 {
    margin-left: 24px;
}
.u-ml-3 {
    margin-left: 36px;
}
.u-ml-4 {
    margin-left: 48px;
}
