/* =======================================================================
Alignment
========================================================================== */
.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

/* =======================================================================
Text styles
========================================================================== */
.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-truncate {
    @include truncate-text();
}

/* =======================================================================
Text sizes
========================================================================== */
.u-text-lead {
    @include font-size(18px);
    line-height: 26px;
}


.u-text-white {
	color: $white !important;
}
